<main class="flex-1 overflow-auto w-full">
    <div class="px-6 py-8">
        <div class="max-w-7xl mx-auto flex flex-col md:flex-row gap-4">
            <div class="flex-grow">
                <main class="max-h-screen overflow-auto">
                    <div class="px-6">
                        <div class="max-w-4xl mx-auto">
                            <div class="bg-white rounded-3xl p-8">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-x-2">
                                        <h1 class="text-3xl font-bold">Dashboard</h1>
                                    </div>
                                    <div class="flex items-center gap-x-2">
                                        <button type="button"
                                            class="inline-flex items-center justify-center h-9 px-3 rounded-xl border hover:border-gray-400 text-gray-800 hover:text-gray-900 transition"
                                            data-modal-open="budgetIncomeModal"
                                            ng-click="openIncomeModal()">
                                            <i class="fa-solid fa-plus-circle mr-3"></i> Add Income
                                        </button>

                                        <button type="button"
                                            class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-[#050A30] text-gray-300 hover:text-white text-sm font-semibold transition"
                                            data-modal-open="expenseModal"
                                            ng-click="openExpenseModal()"
                                            >
                                            <i class="fa-solid fa-wallet mr-3"></i> Add Expense
                                        </button>
                                    </div>
                                </div>

                                <hr class="my-10">

                                <div class="grid grid-cols-2 gap-x-10">
                                    <div>
                                        <h2 class="text-2xl font-bold mb-4">Stats</h2>

                                        <div class="grid grid-cols-2 gap-4">
                                            <div class="col-span-2">
                                                <div class="p-4 bg-green-100 rounded-xl">
                                                    <div class="font-bold text-xl text-gray-800 leading-none">
                                                        Good day, {{user.name}}!
                                                    </div>
                                                    <div class="mt-5">
                                                        <button type="button"
                                                            class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-orange-500 text-sm font-semibold transition">
                                                            Start tracking
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
                                                <div class="font-bold text-2xl leading-none">22,000</div>
                                                <div class="mt-2">Monthly Income</div>
                                            </div>
                                            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
                                                <div class="font-bold text-2xl leading-none">12,000</div>
                                                <div class="mt-2">Expenses (Current)</div>
                                            </div>
                                            <div class="col-span-2">
                                                <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                                                    <div class="font-bold text-xl leading-none">Your Payment Due
                                                        List</div>
                                                    <div class="mt-2">5 of 7 completed</div>
                                                    <div class="mt-5">
                                                        <button type="button"
                                                            class="inline-flex items-center justify-center py-2 px-3 rounded-xl text-gray-800 hover:text-orange-500 text-sm font-semibold transition border border-black">
                                                            Complete Due
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 class="text-2xl font-bold mb-4">Your Recent Transactions</h2>

                                        <div class="space-y-4">
                                            <div ng-repeat="expence in recentExpenses" class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
                                                <div class="flex justify-between">
                                                    <div class="text-gray-400 text-xs" ng-bind="expence.category"></div>
                                                    <div class="text-gray-400 text-xs">{{calculateTimeDiff(expence.insertedAt)}}</div>
                                                </div>
                                                <a href="javascript:void(0)"
                                                    class="font-bold hover:text-yellow-800" ng-bind="expence.expenseName"></a>
                                                <hr>
                                                <div class="text-sm text-gray-600 flex justify-between">
                                                    <div>
                                                        <i
                                                            class="fa-solid text-sm fa-indian-rupee-sign mr-2"></i>{{expence.amount}}
                                                    </div>
                                                    <div>
                                                        <i
                                                            class="fa-solid text-sm fa-calendar mr-2"></i>{{expence.insertedAt.split('T')[0]}}
                                                        <i class="fa-solid text-sm fa-clock mr-2 ml-2"></i>{{
                                                            getTime(expence.insertedAt)
                                                        }}


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </main>
                <p class="ml-8 mt-6 text-l text-gray-800 flex items-center">
                    Check Today's Activity :
                    <a href=""
                        class="inline-block ml-2 text-orange-500 font-semibold py-2 rounded-lg transition duration-300">
                        click here
                    </a>
                </p>

            </div>
            <div class="w-full md:w-1/3">
                <h2 class="text-2xl font-bold mb-8 mt-4">Your Past Savings</h2>
                <div class="grid grid-cols-1 gap-4">
                    <div class="p-6 bg-green-200 rounded-xl shadow-lg">
                        <div class="flex items-center justify-between">
                            <div class="font-bold text-xl">{{getMonthYear(monthlyExpenses[0]._id)}}</div>
                            <i class="fas fa-wallet text-gray-700 text-lg"></i>
                        </div>
                        <div class="mt-4 text-gray-800 text-lg">₹{{monthlyExpenses[0].total}}</div>
                    </div>
                    <div class="p-6 bg-blue-200 rounded-xl shadow-lg">
                        <div class="flex items-center justify-between">
                            <div class="font-bold text-xl">{{getMonthYear(monthlyExpenses[1]._id)}}</div>
                            <i class="fas fa-wallet text-gray-700 text-lg"></i>
                        </div>
                        <div class="mt-4 text-gray-800 text-lg">₹{{monthlyExpenses[1].total}}</div>
                    </div>
                    <div class="p-6 bg-red-200 rounded-xl shadow-lg">
                        <div class="flex items-center justify-between">
                            <div class="font-bold text-xl">{{getMonthYear(monthlyExpenses[2]._id)}}</div>
                            <i class="fas fa-wallet text-gray-700 text-lg"></i>
                        </div>
                        <div class="mt-4 text-gray-800 text-lg">₹{{monthlyExpenses[2].total}}</div>
                    </div>
                    <div class="p-6 bg-yellow-200 rounded-xl shadow-lg">
                        <div class="flex items-center justify-between">
                            <div class="font-bold text-xl">{{getMonthYear(monthlyExpenses[3]._id)}}</div>
                            <i class="fas fa-wallet text-gray-700 text-lg"></i>
                        </div>
                        <div class="mt-4 text-gray-800 text-lg">₹{{monthlyExpenses[3].total}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>