<div class="flex flex-col md:flex-row min-h-screen bg-yellow-50">

    <main class="mt-5">
        <div class="py-8">
            <div class="px-8">
                <div class="mx-auto">
                    <div class="bg-white rounded-3xl p-8" style="width: 1100px;">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center gap-x-2">
                                <h1 class="text-3xl font-bold">My Profile</h1>
                            </div>
                        </div>
                        <hr class="my-10">
                        <div class="bg-yellow-100 p-8 rounded-xl">
                            <p><b>Name : </b> {{user.name}}</p>
                        </div>
                        <div class="bg-green-100 p-8 rounded-xl mt-4">
                            <p><b>Email : </b> {{user.email}}</p>

                        </div>
                        <div class="mt-4 p-2">
                            <a href="javascript:void(0)"
                                class="flex bg-white rounded-xl font-bold text-sm text-[#F14624] py-3 items-center">
                                <button type="button"
                                    class="inline-flex items-center justify-center h-9 px-4 rounded-xl transition flex justify-center items-center">
                                    <i class="fas fa-right-from-bracket text-[#F14624] mr-3"></i>Logout
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>