    <div class="flex flex-col md:flex-row min-h-screen bg-yellow-50" ng-controller="ReminderController">
        <main class="mt-5">
            <div class="py-8">
                <div class="px-8">
                    <div class="mx-auto">
                        <div class="bg-white rounded-3xl p-8" style="width: 1100px;">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center gap-x-2">
                                    <h1 class="text-3xl font-bold">My Payment Remainder</h1>
                                </div>
                            </div>
                            <hr class="my-10">
                            <table class="min-w-full divide-y divide-gray-300 mt-4">
                                <thead>
                                    <tr class="bg-gray-500 text-gray-700">
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white
                                                    ">
                                            Subject
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white">
                                            Amount
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white">
                                            Date
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white">
                                            Sent To
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                            Lunch at Cafe
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            $45.00
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            12/04/2024
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            Alice
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                            Movie Tickets
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            $30.00
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            12/04/2024
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            Rohan
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>