<aside class="bg-white shadow-md w-full md:w-60 h-screen">
    <div class="flex flex-col justify-between h-full">
        <div class="flex-grow">
            <div class="px-4 py-6 text-center border-b flex justify-center">
                <img src="./images/logo/2.png" alt="" width="150px">
            </div>
            <div class="p-4">
                <ul class="space-y-1">
                    <li>
                        <a href="#!" ng-class="{'bg-orange-200': isActiveLink('')}" class="flex items-center rounded-xl font-bold text-sm py-3 px-4 flex items-center">
                            <i class="fas fa-dashboard text-[#050A30] mr-3"></i>Dashbooard
                        </a>                        
                    </li>
                    <li>
                        <a href="#!today"
                            ng-class="{'bg-orange-200': isActiveLink('today')}"
                            class="flex hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4 items-center">
                            <i class="fas fa-calendar-day text-[#050A30] mr-3"></i>Today's Activity
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            class="flex hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4 items-center">
                            <i class="fas fa-bell text-[#050A30] mr-3"></i>Payment Remainder
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            class="flex hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4 items-center">
                            <i class="fas fa-hand-holding-dollar text-[#050A30] mr-3"></i>Payment Split
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)"
                            class="flex hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4 items-center">
                            <i class="fas fa-user text-[#050A30] mr-3"></i>My Profile
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            class="flex hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4 items-center">
                            <i class="fas fa-history text-[#050A30] mr-3"></i>History
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-4">
            <a href="javascript:void(0)" class="flex bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-[#F14624] py-3 px-4 items-center">
                <button type="button" class="inline-flex items-center justify-center h-9 px-4 rounded-xl transition flex justify-center items-center">
                    <i class="fas fa-right-from-bracket text-[#F14624] mr-3"></i>Logout
                </button>
            </a>
        </div>
    </div>
    
</aside>