<body class="relative bg-yellow-50 overflow-hidden max-h-screen" ng-controller="TodayController">
  <header class="fixed right-0 top-0 left-60 bg-yellow-50 py-3 px-4 h-16">
    <div class="max-w-4xl mx-auto">
      <div class="flex items-center justify-between">
        <div>
          <button type="button"
            class="flex items-center focus:outline-none rounded-lg text-gray-600 hover:text-yellow-600 focus:text-yellow-600 font-semibold p-2 border border-transparent hover:border-yellow-300 focus:border-yellow-300 transition"
            ng-click="getPreviousDate()"
            >
            <span
              class="inline-flex items-center justify-center w-6 h-6 text-gray-600 text-xs rounded bg-white transition mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </span>
            <span class="text-sm">Previous</span>
          </button>
        </div>
        <div class="text-lg font-bold">{{getDate()}}</div>
        <div>
          <button type="button"
            class="flex items-center focus:outline-none rounded-lg text-gray-600 hover:text-yellow-600 focus:text-yellow-600 font-semibold p-2 border border-transparent hover:border-yellow-300 focus:border-yellow-300 transition"
            ng-click="getNextDate()">
            
            <span class="text-sm">Next</span>
            <span
              class="inline-flex items-center justify-center w-6 h-6 text-gray-600 text-xs rounded bg-white transition ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </header>


  <main class="pt-16 max-h-screen overflow-auto">
    <div class="px-6 py-8">
      <div class="max-w-4xl mx-auto">
        <div class="bg-white rounded-3xl p-8 mb-5">
          <h1 class="text-3xl font-bold mb-10">Do not save what is left after spending, but spend what is left after
            saving.</h1>
          <div class="flex items-center justify-between">
            <div class="flex items-stretch">
              <div class="text-gray-400 text-xs">{{user.name.split(' ')[0]}} <br> {{user.name.split(' ')[1]}}</div>
              <div class="h-100 border-l mx-4"></div>
              <div class="flex flex-nowrap -space-x-3">
                <div class="h-9 w-9">
                  <img class="object-cover w-full h-full rounded-full"
                    src="https://ui-avatars.com/api/?background=random">
                </div>
              </div>
            </div>
            <div class="flex items-center gap-x-2">
              <button type="button"
                class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition"
                onclick="window.location.href = '#!payment-Remainder'"
                >
                Add Payment Remainder
              </button>
            </div>
          </div>

          <hr class="my-10">

          <div class="grid grid-cols-2 gap-x-20">
            <div>
              <h2 class="text-2xl font-bold mb-4 ">Your Income</h2>
              <div class="flex flex-col gap-5 max-h-[130px] h-[130px] overflow-y-scroll no-scrollbar">
                <div class="grid grid-cols-2 gap-4" ng-repeat="income in dateIncome">
                  <div class="col-span-2">
                    <div class="p-4 bg-yellow-100 rounded-xl">
                      <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">

                        <a href="javascript:void(0)" class="font-bold hover:text-yellow-800">{{income.incomeName}}</a>
                        <hr>
                        <div class="text-sm text-gray-600 flex justify-between">
                          <div>
                            <i class="fa-solid text-sm fa-indian-rupee-sign mr-2"></i>{{income.amount}}
                          </div>
                          <div>
                            <i class="fa-solid text-sm fa-calendar mr-2"></i>{{income.insertedAt.split('T')[0]}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex text-xl text-center w-full justify-center items-center h-full -mt-5">
                  <h1 ng-show="!isIncomeLoading && dateIncome.length===0" class="">No income today :(</h1>
                  <span ng-show="isIncomeLoading"><img src="../images/icons/poket-money.gif"/></span>
              </div>
              </div>
            </div>
            <div>
              <h2 class="text-2xl font-bold mb-4">Your Expenses</h2>
              <div class="flex flex-col gap-5 max-h-[150px] h-[150px] overflow-y-scroll no-scrollbar">
                <div class="grid grid-cols-2 gap-4" ng-repeat="expense in dateExpense">
                  <div class="col-span-2">
                    <div class="p-4 bg-green-100 rounded-xl">
                      <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
                        <div class="flex justify-between">
                          <div class="text-gray-400 text-xs">{{expense.category}}</div>
                          <div class="text-gray-400 text-xs">{{calculateTimeDiff(expense.insertedAt)}}</div>
                        </div>
                        <a href="javascript:void(0)" class="font-bold hover:text-yellow-800">{{expense.expenseName}}</a>
                        <hr>
                        <div class="text-sm text-gray-600 flex justify-between">
                          <div>
                            <i class="fa-solid text-sm fa-indian-rupee-sign mr-2"></i>{{expense.amount}}
                          </div>
                          <div>
                            <i class="fa-solid text-sm fa-calendar mr-2"></i>{{expense.insertedAt.split('T')[0]}}
                            <i class="fa-solid text-sm fa-clock mr-2 ml-2"></i>{{
                              getTime(expense.insertedAt)
                          }}

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex text-xl text-center w-full justify-center items-center h-full -mt-5">
                    <h1 ng-show="!isExpenseLoading && dateExpense.length===0" class="">Hurray!, No expense today!</h1>
                    <span><img ng-show="isExpenseLoading" src="../images/icons/poket-money.gif"/></span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-span-2 mt-4">
            <div class="p-6 bg-purple-100 rounded-xl text-gray-800">
              <div class="font-bold text-xl leading-none">Today's Payment Split</div>
              <table class="min-w-full divide-y divide-gray-300 mt-4">
                <thead>
                  <tr class="bg-gray-500 text-gray-700">
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white
                                ">
                      Item
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white">
                      Amount
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-white">
                      Splitted With
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      Lunch at Cafe
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      $45.00
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      Alice, Bob, Rohan
                    </td>
                  </tr>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      Movie Tickets
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      $30.00
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      Bob, Rohan
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="mt-5">
                <button type="button"
                  class="inline-flex items-center justify-center py-2 px-3 rounded-xl text-gray-800 hover:text-orange-500 text-sm font-semibold transition border border-black"
                  >
                  Add Payment Split
                </button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    </div>
  </main>
</body>